.cart_overview {
  padding: 100px 0;
}
.check_font {
  color: #0f7404;
  background-color: white;
}
.cartoverview_title {
  background: #e2f6de;
  border: 0;
}
.search_ber a {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 120px;
  height: 50px;
  background: linear-gradient(to right, #0f7404, #5cb917);
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s;
}
.search_btnn {
  height: 50px;
  padding-right: 55px;
  margin-bottom: 20px;
}
.small_img {
  margin-right: 20px;
  width: 235px;
}

.small_img img {
  display: block;
  margin-bottom: 20px;
}

.coupon_part {
  padding-bottom: 80px;
}

.quantity {
  padding: 9px 10px;
  background: transparent;
  text-align: center;
  border: 2px solid #bcbcbc;
  color: #061738;
}

.quantity button {
  color: #061738;
  background-color: transparent;
  border: 0;
}

.quantity button:hover,
.quantity button:focus {
  color: #1a7d06;
  border: 0;
  outline: 0;
}

.quantity_num {
  margin: 0px 10px;
}
.pointer {
  cursor: pointer;
}
