.btn {
  color: white;
}

.card_total {
  border: none;
  background-color: #03262c !important;
  font-size: 18px;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
}

.total_num {
  color: #54b215;
  font-weight: 700;
}
